In [3]:
list1=[1,2,3,4,5,"sanjay","ajay","sca","vijay","arjun","cse","civil","ece","eee","mech",9.6,9.8,7.9,7.8,6.4]

In [4]:
list1

[1,
 2,
 3,
 4,
 5,
 'sanjay',
 'ajay',
 'sca',
 'vijay',
 'arjun',
 'cse',
 'civil',
 'ece',
 'eee',
 'mech',
 9.6,
 9.8,
 7.9,
 7.8,
 6.4]

In [7]:
list1.extend([6,"aman","it","9.9"])

In [8]:
list1

[1,
 2,
 3,
 4,
 5,
 'sanjay',
 'ajay',
 'sca',
 'vijay',
 'arjun',
 'cse',
 'civil',
 'ece',
 'eee',
 'mech',
 9.6,
 9.8,
 7.9,
 7.8,
 6.4,
 6,
 6,
 'aman',
 'it',
 '9.9']

In [9]:
region_name1=[0,1,2,3,4,5,6,7,8,9,10,11,12,13]

In [10]:
region_name2=[14,15,16,17,18,19,20,21,22,23,24,25]

In [11]:
region_name2.extend(region_name1)

In [12]:
region_name2

[14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13]

In [25]:
emp_list=[1,2,3,4,5,"ajay","sanjay","arjun","vijay","arjun"]

In [27]:
emp_list.index("arjun",8)

9

In [36]:
sales=["egg","chicken","chocs","veggies","maggi"]

In [37]:
sales

['egg', 'chicken', 'chocs', 'veggies', 'maggi']

In [38]:
sales.append("water")

In [39]:
sales

['egg', 'chicken', 'chocs', 'veggies', 'maggi', 'water']

In [40]:
sales.extend(["maggi","ice cream"])

In [41]:
sales

['egg', 'chicken', 'chocs', 'veggies', 'maggi', 'water', 'maggi', 'ice cream']

In [42]:
sales.append("deo")

In [43]:
sales.pop()

'deo'

In [44]:
sales.remove("chicken")

In [45]:
sales.count("maggi")

2

In [46]:
item_prices=[1,4,2,6,7]

In [47]:
item_prices.sort()

In [48]:
item_prices

[1, 2, 4, 6, 7]

In [49]:
item_prices.sort(reverse= True)

In [50]:
item_prices

[7, 6, 4, 2, 1]

In [51]:
ele=[1,2,3,4,5,6,7,8,9,10]

In [53]:
ele[::2]

[1, 3, 5, 7, 9]

In [55]:
ele[1::2]

[2, 4, 6, 8, 10]

In [56]:
region1=(1,2,3,4,5,6,7,8,9,10,11,12)

In [58]:
region2=(13,14,15,16,17,18)

In [59]:
region1+region2

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18)

In [60]:
list1 = [10, 21, 4, 45, 66, 93] 
  
for num in list1: 
      
    
    if num % 2 == 0: 
       print(num, end = " ")

10 4 66

In [61]:
students=("sanjay","arjun","arushi","shirin","thakur","shashi","scar","arushi","vijay","arushi")

In [62]:
students.count("arushi")

3

In [67]:
q1=(1,5,9)

In [68]:
q2=(2,1,4)

In [69]:
max(q1)

9

In [70]:
max(q2)

4

In [3]:
empid=[1,2,3]

In [4]:
empdept=["cse","it","eee"]

In [5]:
empname=["a","b","c"]

In [6]:
d={"a":empid,"b":empdept,"c":empname}

In [7]:
d

{'a': [1, 2, 3], 'b': ['cse', 'it', 'eee'], 'c': ['a', 'b', 'c']}

In [10]:
d.get("b")

['cse', 'it', 'eee']

In [11]:
region1=set([1,2,3,4,5,6,7,8,9,10,11,12])

In [12]:
region2=set([2,3,4,5,6,7,8,9,11,12,13,14])

In [14]:
region1.union(region2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [27]:
m1=["jan","feb","march"]

In [28]:
m2=["april","may","june"]

In [36]:
r1sales={"month":m1,"salevalue":0}

In [37]:
r2sales={"month":m2,"salevalue":0}

In [38]:
r1sales.update(r2sales)

In [39]:
r1sales

{'month': ['april', 'may', 'june'], 'salevalue': 0}