# 1

In [1]:
t1 =(10, 21, 4, 45, 66, 93) 
  
 
for num in t1: 
      
     
    if num % 2 == 0: 
       print(num, end = " ")

10 4 66

In [2]:
t1 =(10, 21, 4, 45, 66, 93) 
  
 
for num in t1: 
      
     
    if num % 2 != 0: 
       print(num, end = " ")

21 45 93

In [3]:
t2=(1,2,3,4,5)

In [6]:
t2[::2]

(1, 3, 5)

In [7]:
t2[1::2]

(2, 4)

In [8]:
text1="hyderabad is beautiful"

In [9]:
text1[0]

'h'

# 2

In [66]:
list1=[1,2,3,4,5,"sanjay","ajay","sca","vijay","arjun","cse","civil","ece","eee","mech",9.6,9.8,7.9,7.8,6.4]

In [67]:
list1

[1,
 2,
 3,
 4,
 5,
 'sanjay',
 'ajay',
 'sca',
 'vijay',
 'arjun',
 'cse',
 'civil',
 'ece',
 'eee',
 'mech',
 9.6,
 9.8,
 7.9,
 7.8,
 6.4]

In [68]:
list1[::2]

[1, 3, 5, 'ajay', 'vijay', 'cse', 'ece', 'mech', 9.8, 7.8]

In [69]:
list1[1::2]

[2, 4, 'sanjay', 'sca', 'arjun', 'civil', 'eee', 9.6, 7.9, 6.4]

In [70]:
list1.remove("sanjay")

In [72]:
list1

[1,
 2,
 3,
 4,
 5,
 'ajay',
 'sca',
 'vijay',
 'arjun',
 'cse',
 'civil',
 'ece',
 'eee',
 'mech',
 9.6,
 9.8,
 7.9,
 7.8,
 6.4]

In [73]:
def odd_rem(list1):
    i=0
    for num in list1:
        if i % 2 == 0:
            pass
        else:
            list1.remove(num)
        i = i + 1

In [62]:
def even_rem(list1):
    i=0
    for num in list1:
        if i % 2 == 0:
            list1.remove(num)
        i = i + 1

In [75]:
t1 =(10, 21, 4, 45, 66, 93) 
  
 
for num in t1: 
      
     
    if num % 2 == 0: 
       print(num, end = " ")

10 4 66

In [76]:
t1 =(10, 21, 4, 45, 66, 93) 
  
 
for num in t1: 
      
     
    if num % 2 != 0: 
       print(num, end = " ")

21 45 93

In [77]:
t2=(1,2,3,4,'a','b','c','d')

In [78]:
t2

(1, 2, 3, 4, 'a', 'b', 'c', 'd')

In [81]:
t2[::2]

(1, 3, 'a', 'c')

In [82]:
t2[1::2]

(2, 4, 'b', 'd')

In [83]:
d={"a":1,"b":2}

In [84]:
d

{'a': 1, 'b': 2}

In [85]:
t1='hyd'
t2=' is'
t3=' beautiful'

In [86]:
t1+t2+t3

'hyd is beautiful'

In [87]:
t1[0]

'h'

In [88]:
a=set([1,2,3,4,5])

In [96]:
a

{1, 2, 3, 4, 5}

In [97]:
b=([3,4,5,6])

In [101]:
x=a.union(b)

In [102]:
x

{1, 2, 3, 4, 5, 6}

In [103]:
c=a.intersection(b)

In [104]:
c

{3, 4, 5}

In [105]:
x.difference(c)

{1, 2, 6}

In [106]:
a=frozenset([1,2,3,4])

In [107]:
b=frozenset([2,3,4,5])

In [108]:
a.union(b)

frozenset({1, 2, 3, 4, 5})

In [109]:
c=set([1,2,3])

In [110]:
d=frozenset([4,5,6])

In [111]:
c.add(frozenset(d))

In [112]:
c

{1, 2, 3, frozenset({4, 5, 6})}